:root {
    --pl: 300px;
    --pr: 300px;
    --gray: rgb(240, 237, 237);
}

header {
    padding: 10px var(--pl) 10px var(--pr);
    height: 50px;
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding: 20px var(--pl) 20px var(--pr);
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

footer {
    padding: 10px var(--pl) 10px var(--pr);
    background-color: black;
    color: gray;
    display: flex;
    justify-content: space-between;
}

#nav-left a {
    margin-right: 20px;
    color: gray;
    font-weight: bold;
}

#nav-left a:hover {
    color: rgb(74, 74, 74);
}

#nav-right i {
    margin-right: 10px;
    color: gray;
}

#bt-header {
    padding: 10px 20px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#content-selection-mot {
    background-color: var(--gray);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#content-selection-mot-bt {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px calc(var(--pl) + 80px) 20px calc(var(--pr) + 80px);
}

#content-selection-mot-bt button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid gray;
    color: gray;
}

#content-selection-hai {
    display: flex;
    justify-content: center;
    padding: 20px var(--pl) 20px var(--pr);
    gap: 20px;
}

#card-content-2 {
    width: 25%;
    text-align: center;
}



#card-content-2 div {
    margin-top: 20px;
}

#card-avata {
    width: 100%;
}

#card-avata img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

#content-selection-ba {
    display: flex;
    justify-content: center;
    padding: 20px var(--pl) 20px var(--pr);
    gap: 20px;
    background-color: var(--gray);
    padding-bottom: 50px;
}

#card-content-3 {
    text-align: center;
    padding: 0px 40px 20px 40px;
    background-color: white;
    border: 1px solid gray;
}

#content-selection-bon {
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 60px 0px 60px 0px;
    display: flex;
    justify-content: center;
}

#content-selection-bon form {
    background-color: black;
    padding: 30px 20px 20px 20px;
    width: 20%;
}

#bt-selection-4 {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: blue;
    border: none;
    color: white;
}

#icons-footer {
    display: flex;
    align-items: center;
}

#icons-footer i {
    margin-left: 10px;
    color: gray;
}

/* class */
.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.list-anh-thien-nhien {
    position: absolute;
    display: none;
}

.card-cmt {
    color: gray;
}

.bt-card-content-2 {
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.bt-card-content-3 {
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
}

.input-form-selection-bon {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    border: none;
}